/*--------Null-list--------*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	ms-text-size-adjust: 100%;
	moz-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}

button {
	font-family: inherit;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/*------------------------------------*/
body {
	text-align: center;
	font-size: 24px;
	transition: all linear 0.3s;
}

/*---------------Change-color---------------------*/
body.dark {
	background-color: #000000e0;
	transition: all linear 0.3s;
}

body.dark .nonogram {
	border: 2px solid pink;
	background-color: #fff;
}

body.dark .top__square {
	border: 1px solid pink;
	background-color: pink;
}

body.dark .top__numbers-row {
	border: 1px solid pink;
	color: rgb(197, 150, 157);
}

body.dark .nonogram__squares {
	border: 1px solid rgb(197, 150, 157);
}

body.dark .squares__sqr {
	border: 0.5px solid rgb(243, 226, 228);
	background-color: #fff;
}

body.dark .squares__sqr:hover {
	box-shadow: 0px 0px 8px 1px rgb(197, 150, 157);
}

body.dark .squares__sqr.checked {
	background-color: pink;
}

body.dark .left__numbers-row {
	border: 1px solid pink;
	color: rgb(197, 150, 157);
}

body.dark .clear__btn {
	color: rgb(197, 150, 157);
	background-color: pink;
	box-shadow: 1px 1px 2px rgb(197, 150, 157);
}

body.dark .clear__btn:hover {
	color: pink;
	background-color: rgb(197, 150, 157);
}

body.dark .mode__input:checked+.mode__label {
	background-color: rgb(197, 150, 157);
}

.mode__input:checked+.mode__label:hover {
	background-color: greenyellow;
	transition: all ease 1s;
}

body.dark .mode__input:checked+.mode__label:hover {
	background-color: pink;
}

body.dark .clock {
	color: rgb(197, 150, 157);
}

body.dark .button {
	border: 2px solid pink;
	background-color: rgb(197, 150, 157);
}

body.dark .squares__sqr.crossed {
	background: url('../img/cross2.png') 110%/contain no-repeat;
}

body.dark .popup__title.popup__title_green {
	color: rgb(197, 150, 157);
}

body.dark .popup__text {
	color: rgb(197, 150, 157);
}

body.dark .popup__btn {
	background-color: pink;
	box-shadow: 1px 1px 2px rgb(197, 150, 157);
}

body.dark .popup__btn:hover {
	background-color: rgb(197, 150, 157);
}

body.dark .level {
	background-color: pink;
	box-shadow: 1px 1px 2px rgb(197, 150, 157);
	color: rgb(197, 150, 157);
}

body.dark .level:hover {
	background-color: rgb(197, 150, 157);
	color: pink;
}


/*------------------------------------*/
.wrapper {
	display: flex;
	overflow: hidden;
}

.nonogram__container {
	max-width: 1360px;
	margin: 0 auto;
	padding: 40px 3px 20px 3px;
	box-sizing: content-box;
}

.nonogram {
	display: inline-flex;
	flex-direction: column;
	border: 2px solid yellowgreen;
	width: 476px;
}

.top__square {
	width: 150px;
	height: 149.5px;
	border: 1px solid yellowgreen;
	background-color: yellowgreen;
	display: flex;
	flex-direction: column;
}

.score {
	padding: 3px;
	font-size: 16px;
}

.score:first-child {
	background: url('../img/1.png') 10%/contain no-repeat;
}

.score:nth-child(2) {
	background: url('../img/2.png') 10%/contain no-repeat;
}

.score:nth-child(3) {
	background: url('../img/3.png') 10%/contain no-repeat;
}

.score:nth-child(4) {
	background: url('../img/4.png') 10%/contain no-repeat;
}

.score:nth-child(5) {
	background: url('../img/5.png') 10%/contain no-repeat;
}

.nonogram__top {
	display: flex;
}

.top__numbers {
	display: flex;

}

.top__numbers-row {
	display: flex;
	gap: 0;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px solid yellowgreen;
	color: green;
	font-weight: 900px;
	width: 32.3px;


}

.top__numbers-column {
	margin: 2px 0px 2px 0px;
}

.nonogram__left {
	display: flex;
}

.left__numbers {
	display: flex;
	flex-direction: column;
	min-width: 150px;
}

.left__numbers-row {
	display: flex;
	gap: 0;
	justify-content: flex-end;
	border: 1px solid yellowgreen;
	color: green;
	font-weight: 900px;
	padding: 3.41px 0px;
}

.left__numbers-column {
	margin: 0px 5px 0px 5px;
}

.nonogram__squares {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid green;
}

.squares__sqr {
	width: 32px;
	height: 32px;
	border: 0.5px solid yellowgreen;
}

.squares__sqr:hover {
	box-shadow: 0px 0px 8px 1px green;
	cursor: pointer;
}

.squares__sqr.checked {
	background-color: #000;
}

.squares__sqr.crossed {
	background: url('../img/cross.png') 110%/contain no-repeat;
}


/*----Popup----------------*/
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease-in-out 0s;

}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__body {
	transform: perspective(800px) translate(0px, 0%) rotateX(0deg);

}

.popup__body {
	display: flex;
	min-height: 100%;
	justify-content: center;
	align-items: center;
	transition: all 0.6s ease-in-out 0s;
	padding: 30px 15px;
	transform: perspective(800px) translate(0px, -100%) rotateX(45deg);
}

.popup__content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 20px;
	background-color: #fff;
	min-width: 300px;
	padding: 30px;
}

.popup__title.popup__title_green {
	color: green;
}

.popup__text {
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	color: green;
}

.popup__btn {
	background-color: greenyellow;
	font-weight: 600;
	border-radius: 20px;
	box-shadow: 1px 1px 2px green;
	font-size: 18px;
	padding: 10px;
	transition: all linear 0.3s;
}

.popup__btn:hover {
	background-color: green;
	box-shadow: 1px 1px 2px #000;
	color: aliceblue;
}

/*----------Clock----------------*/
.clock {
	padding: 0px 0px 10px 0px;
	color: green;
}

/*----------Clear-btn----------------*/
.nonogram__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.clear__btn {
	display: flex;
	color: green;
	background-color: greenyellow;
	font-weight: 600;
	border-radius: 20px;
	box-shadow: 1px 1px 2px green;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px 0px 0px;
	transition: all linear 0.3s;
}

.clear__btn:hover {
	background-color: green;
	box-shadow: 1px 1px 2px #000;
	color: greenyellow;
}

/*----------Dark-mode----------------*/


.mode__body {}

.mode__input {
	opacity: 0;
	visibility: hidden;
}

.mode__label {
	display: inline-flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px 0px 0px;
	width: 90px;
	height: 45px;
	padding: 7px;
	background-color: green;
	border-radius: 25px;
	cursor: pointer;
}

.mode__dark {
	width: 30px;
	height: 30px;
	display: block;
	background: url('../img/moon.png') 100%/contain no-repeat;
}

.mode__light {
	width: 30px;
	height: 30px;
	display: block;
	background: url('../img/sun.png') 100%/contain no-repeat;
}

.mode__circle {
	width: 37px;
	height: 37px;
	display: block;
	position: absolute;
	top: 4px;
	left: 3px;
	background: url('../img/circle.png') 100%/contain no-repeat;
	transition: all ease 0.5s;
}

.mode__input:checked+.mode__label {
	background-color: green;
	transition: all ease 0.5s;

}

.mode__input:checked+.mode__label:hover {
	background-color: greenyellow;
	transition: all ease 1s;
}

.mode__input:checked+.mode__label .mode__circle {
	transform: translate(45px, 0);
}

/*---------------5x5 Buttons----------------*/
.nonogram__btns5x5 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 0px 0px 10px 0px;
}


.button {
	display: flex;
	color: #000;
	border: 2px solid #fff;
	background-color: greenyellow;
	font-weight: 600;
	border-radius: 20px;
	box-shadow: 1px 1px 2px green;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px 0px 0px;
	transition: all linear 0.3s;
	cursor: pointer;
}

.m__btn {
	border: 2px solid red;
}

.button:hover {
	background-color: green;
	box-shadow: 1px 1px 2px #000;
	color: greenyellow;
}

.test {
	width: 80px;
	height: 30px;
	background-color: aqua;
}

/*-----------Levels---------*/
.nonogram__levels {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 30px 0px;
}

.level__easy {}

.level {
	display: flex;
	color: #000;
	border: 2px solid #fff;
	background-color: greenyellow;
	font-weight: 600;
	border-radius: 20px;
	box-shadow: 1px 1px 2px green;
	font-size: 18px;
	padding: 10px;
	transition: all linear 0.3s;
	cursor: pointer;
}

.level:hover {
	background-color: green;
	box-shadow: 1px 1px 2px #000;
	color: greenyellow;
}

.level__btn {
	border-radius: 20px;
}

.level__btn[disabled] .level {
	background-color: green;
	border-radius: 20px;
}