/*-------Null-list-----------------------------*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-size: 16px;
	line-height: 1;
}

img {
	vertical-align: top;
}

ul li {
	list-style: none;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:hover,
a:visited {
	text-decoration: none;
	cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

input,
button,
textarea {
	font-family: inherit;
}

/*------------------------------------*/
html {
	scroll-behavior: smooth;
}

body {
	font-family: Inter;
	background-color: rgba(225, 212, 201, 1);
}

body._lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*=__container] {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0px 40px;
	box-sizing: content-box;
}

/*--------------Header----------------------*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.header__container {}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
	margin: 20px 0;
	font-weight: 600;
	line-height: 150%;
}

.header__logo {
	width: 100px;
	height: 60px;
	position: relative;
	z-index: 100;
}

.header__logo:hover {
	cursor: pointer;
}

.header__menu {}

.menu__list {
	display: flex;
	gap: 40px;
}

.menu__item:last-child {
	display: none;
}

.menu__link {
	color: #403F3D;
}

.menu__link:hover {
	cursor: pointer;
}

.header__icon {
	display: flex;
	gap: 8px;
}

.icon__text {
	color: #403F3D;
}

.icon__img {}

.stretch-line {
	position: relative;
}

.stretch-line::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%);
	height: 3px;
	width: 0;
	background-color: rgba(64, 63, 61, 1);
	transition: all linear 0.5s;
}

.menu__link:hover.stretch-line::after {
	width: 100%;
}

.header__icon {
	position: relative;
}

.header__icon::after {
	content: '';
	position: absolute;
	bottom: -3px;
	height: 3px;
	width: 100%;
	background-color: rgba(64, 63, 61, 1);
}

.burger__menu {
	display: none;
}

/*-------------Bam-classes------------------*/
.title {
	color: #403F3D;
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	line-height: 125%;
}

.title-decoration {
	color: #B0907A;
	font-style: italic;
}

/*--------------Main----------------------*/
.main {
	flex: 1 1 auto;
}

.main__menu {
	padding: 100px 0px;
}

.menu__container {}

.menu__title {
	margin: 0 auto;
	max-width: 800px;
}

.menu__title:not(:last-child) {
	padding: 0px 0px 40px 0px;
}

.menu__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 16px;
}

.menu__buttons:not(:last-child) {
	margin: 0px 0px 40px 0px;
}


.menu-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px 16px 8px 8px;
	border-radius: 100px;
	border: 1px solid #C1B6AD;
	cursor: pointer;
	transition: 0.8s;
}

.menu-btn:hover {
	background: #665F55;
}

.menu-btn-image {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #C1B6AD;
	transition: 0.8s;
}

.menu-btn-image img {
	position: absolute;
	top: 6px;
	left: 6px;
}

.menu-btn-text {
	color: #403F3D;
	font-weight: 600;
	line-height: 150%;
	transition: 0.6s;
}

.menu-btn:hover .menu-btn-text {
	color: #E1D4C9;
}

.menu-btn:hover .menu-btn-image {
	background: #E1D4C9;
}

.menu-btn-coffee {
	background: #665F55;
	cursor: default;
}

.menu-btn-coffee .menu-btn-image {
	background: #E1D4C9;
}

.menu-btn-coffee .menu-btn-text {
	color: #E1D4C9;
}


.menu-btn-tea {}

.menu-btn-dessert {}

.menu__cards {}

.card__row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	margin: 0px -20px;
}

.card__column {
	display: flex;
	padding: 0px 20px;
	flex: 0 1 25%;
}

.card__item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 40px;
	border: 1px solid #C1B6AD;
	transition: 0.8s;
	cursor: pointer;
}


.card__image {
	position: relative;
	overflow: hidden;
	border-radius: 40px;
}

.card__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 40px;
	transition: 0.8s;
	transform: scale(1.1);
}

.card__item:hover .card__image img {
	transform: scale(1.0);
}

.card__content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.card__title {
	padding: 0 20px 0px;
	color: #403F3D;
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

.card__text {
	flex: 1 1 auto;
	padding: 0 20px;
	color: #403F3D;
	line-height: 150%;

}

.card__price {
	padding: 0 20px 20px;
	color: #403F3D;
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

.card__tea {
	display: none;
}

.card__dessert {
	display: none;
}

/*------------------Footer-----------------------------*/
.footer {}

.footer__content {}

.footer__container {}

.footer__body {
	border-radius: 40px;
	padding: 100px;
	gap: 100px;
	background: #665F55;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 40px 0px;
}

.footer__sip {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.footer__sip-title {
	text-align: left;
}

.title {}

.title-decoration {}

.footer__icons-list {
	display: flex;
	gap: 12px;
}

.footer__icons-item:hover svg path {
	transition: stroke 0.8s ease-in-out;
}

.footer__icons-link:hover svg rect {
	transition: fill 1s ease-in-out;
	fill: #E1D4C9;
	stroke: #E1D4C9;
	transition: all 0.8s ease-in-out;
}

.footer__icons-link:hover svg path {
	stroke: rgba(64, 63, 61, 1);
}

.footer__icons-link:hover {
	cursor: pointer;
}

.footer__contacts {
	flex: 1 1 auto;
	padding: 0px 0px 0px 35px;
}

.footer__contacts-title {
	margin: 0px 0px 40px 0px;
	color: #E1D4C9;
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

.footer__contacts-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	position: relative;
}

.contacts-body-row {
	display: flex;
	gap: 8px;
}

.contacts-body-row a {
	display: flex;
	gap: 8px;
}

.contacts-body-row:last-child {
	cursor: default;
}

.stretch {
	position: relative;
}

.stretch::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	height: 2.2px;
	width: 0;
	background-color: #E1D4C9;
	transition: all linear 0.5s;
}

.contacts-body-row a:hover.stretch::after {
	width: 100%;
}

.contacts-body-row a:hover {
	cursor: pointer;
}

.contacts-body-icon {
	color: rgba(225, 212, 201, 1);

}

.contacts-body-text {
	color: #E1D4C9;
	font-weight: 600;
	line-height: 150%;
}

/*----------------Popups--------------------------*/
.popup__coffee {}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 16px;
	z-index: 100;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
}

.popup.active {
	opacity: 1;
	visibility: visible;
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup__coffee-body {}

.popup__body {
	min-height: 100%;
	display: block;
	margin: 0 auto;
	border-radius: 40px;
	max-width: 688px;
	background: #E1D4C9;
	transition: all 0.8s ease 0s;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__coffee-content {}

.popup__content {
	display: flex;
	gap: 20px;
	padding: 16px;

}

.popup__coffee-content-image {}

.popup__content-image {
	position: relative;
	overflow: hidden;
	align-self: start;
	min-width: 310px;
	border-radius: 40px;
}

.popup__content-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 40px;
	transform: scale(1.1);
	transition: all ease 0.8s;
}

.popup__content-image img:hover {
	transform: scale(1.0);
}

.card__image {
	position: relative;
	overflow: hidden;
	border-radius: 40px;

}

.card__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 40px;
	transition: 0.8s;
	transform: scale(1.1);
}

.card__item:hover .card__image img {
	transform: scale(1.0);
}

.popup__content-image:hover {}

.popup__coffee-content-body {}

.popup__content-body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	gap: 20px;
}

.content__body-title {
	color: #403F3D;
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

.content__body-description {
	margin: -8px 0px 0px 0px;
	color: #403F3D;
	line-height: 150%;
}

.content__body-size {}

.size__title {
	color: #403F3D;
	line-height: 150%;
	margin: 0px 0px 8px 0px;
}

.size__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.size__button-s {}

.size__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	border: 1px solid #C1B6AD;
	padding: 8px 16px 8px 8px;
	cursor: pointer;
	transition: all ease 0.8s;
}

.size__btn:hover {
	background: #665F55;
}

.s__icon {}

.size__btn-icon {
	width: 30px;
	height: 30px;
	padding: 3px 0px 0px 0px;
	border-radius: 50%;
	background: #C1B6AD;
	color: #403F3D;
	text-align: center;
	font-weight: 600;
	line-height: 150%;
	cursor: pointer;
	transition: all ease 0.8s;
}

.size__btn:hover .size__btn-icon {
	background: #E1D4C9;
}

.s__amount {}

.size__btn-amount {
	color: #403F3D;
	font-weight: 600;
	line-height: 150%;
	transition: all ease 0.5s;
}

.size__btn:hover .size__btn-amount {
	color: #E1D4C9;
}

.size__button-m {}

.m__icon {}

.m__amount {}

.size__button-l {}

.l__icon {}

.l__amount {}

.content__body-additives {}

.additive__title {
	color: #403F3D;
	line-height: 150%;
	margin: 0px 0px 4px 0px;
}

.additive__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.additive__button-1 {}

.additive__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	border: 1px solid #C1B6AD;
	padding: 8px 16px 8px 8px;
	cursor: pointer;
	transition: all ease 0.8s;
}

.additive__btn:hover {
	background: #665F55;
}

.sug__icon {}

.additive__btn-icon {
	width: 30px;
	height: 30px;
	padding: 3px 0px 0px 0px;
	border-radius: 50%;
	background: #C1B6AD;
	color: #403F3D;
	text-align: center;
	font-weight: 600;
	line-height: 150%;
	transition: all ease 0.8s;
}

.additive__btn:hover .additive__btn-icon {
	background: #E1D4C9;
}

.sug__addit {}

.additive__btn-addit {
	color: #403F3D;
	font-weight: 600;
	line-height: 150%;
	transition: all ease 0.5s;
}

.additive__btn:hover .additive__btn-addit {
	color: #E1D4C9;
}

.additive__button-2 {}

.cinn__icon {}

.cinn__addit {}

.additive__button-3 {}

.syr__icon {}

.syr__addit {}

.content__body-total {
	display: flex;
	justify-content: space-between;
}

.body__total-text {
	color: #403F3D;
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

.body__total-prise {
	color: #403F3D;
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

.content__body-line {
	width: 100%;
	height: 1.5px;
	background-color: #C1B6AD;
}

.content__body-info {
	display: flex;
	gap: 8px;
	margin: -10px 0px 10.5px 0px;

}

.body__info-icon {}

.body__info-text {

	color: #403F3D;
	font-size: 10px;
	font-weight: 600;
	line-height: 140%;
}

.content__body-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	padding: 10px 0px;
	border: 1px solid #665F55;
	color: #403F3D;
	text-align: center;
	font-weight: 600;
	line-height: 150%;
	cursor: pointer;
	transition: all ease 0.5s;
}

.content__body-btn:hover {
	background-color: #403F3D;
	color: #E1D4C9;
}

@media (max-width: 962px) {
	.footer__body {
		flex-direction: column;
		padding: 100px 100px;
		align-items: start;
	}

	.card__column {
		flex: 0 1 33.333%;
	}
}

@media (max-width: 768px) {
	.menu__cards {
		padding: 0px 15px;
	}

	.card__column {
		flex: 0 1 50%;
		display: flex;
	}

	.card__text {
		min-height: 72px;
	}

	.card__coffee .card__column:nth-child(5) {
		display: none;
	}

	.card__coffee .card__column:nth-child(6) {
		display: none;
	}

	.card__coffee .card__column:nth-child(7) {
		display: none;
	}

	.card__coffee .card__column:nth-child(8) {
		display: none;
	}
}

@media (max-width: 768px) {
	.title {
		font-size: calc(32px + (28 + 28) * ((100vw - 380px) / 768));
	}
}

@media (max-width: 768px) {
	.footer__body {
		padding: 100px 60px;
	}

	.footer__contacts {
		flex: 1 1 auto;
		padding: 0px;
	}
}

@media (max-width: 687px) {
	[class*=__container] {
		padding: 0px 16px;
	}

	.enjoy__body {
		margin: 0px;
		padding: 60px 26px 0px 16px;
	}

	.footer__body {
		flex-direction: column;
		padding: 60px 16px;
		align-items: start;
	}
}

@media (max-width: 580px) {
	.card__column {
		flex: 0 1 100%;
	}

	.card__image img {
		width: 100%;
		height: 100%;
	}

	.popup__content-image {
		display: none;
	}
}

@media (max-width: 768px) {
	.burger__menu {
		display: block;
		position: relative;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		border: 1px solid #665F55;
		z-index: 5;
		cursor: pointer;
	}


	.burger__menu::before,
	.burger__menu::after {
		content: '';
		position: absolute;
		left: 25%;
		width: 50%;
		height: 5%;
		transition: 0.4s;
		background-color: #403F3D;
	}

	.burger__menu::before {
		top: 40%;
	}

	.burger__menu::after {
		bottom: 40%;
	}

	.header__menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: #E1D4C9;
		transition: left 0.4s linear 0s;
		overflow: auto;
	}

	.header__menu._active {
		left: 0;
		position: fixed;
	}

	.header__menu._active::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		background: #E1D4C9;
		z-index: 100;
	}

	.menu__list {
		display: flex;
		flex-direction: column;
		padding: 160px 40px 60px;
		justify-content: center;
		align-items: center;
		font-size: 32px;
		line-height: 125%;
		gap: 60px;
	}

	.header__icon {
		display: none;
	}

	.menu__item:last-child {
		display: block;
		padding: 40px 0px 0px 0px;
	}

	.icon__img img {
		margin: 0px 0px 0px 16px;
	}

	.burger__menu._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
	}

	.burger__menu._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0, 50%);
	}
}