/*-------Null-list-----------------------------*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-size: 16px;
	line-height: 1;
}

img {
	vertical-align: top;
}

ul li {
	list-style: none;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

input,
button,
textarea {
	font-family: inherit;
}

/*------------------------------------*/
html {
	scroll-behavior: smooth;
}

body {
	font-family: Inter;
	background-color: rgba(225, 212, 201, 1);
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*=__container] {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0px 40px;
	box-sizing: content-box;
}

/*--------------Header----------------------*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.header__container {}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
	margin: 20px 0;
	font-weight: 600;
	line-height: 24px;
}

.header__logo {
	width: 100px;
	height: 60px;
}

.header__menu {}

.menu__list {
	display: flex;
	gap: 40px;
}

.menu__item {}

.menu__link {
	color: #403F3D;
}

.header__icon {
	display: flex;
	gap: 8px;
}

.icon__text {
	color: #403F3D;
}

.icon__img {}

/*--------------Main----------------------*/
.main {
	flex: 1 1 auto;
}

/*--------------Main-enjoy----------------------*/
.main__enjoy {
	padding: 100px 0px;
}

.enjoy__container {}

.enjoy__body {
	display: flex;
	flex-direction: column;
	gap: 40px;
	position: absolute;
	max-width: 530px;
	margin: 100px 0px 100px 100px;
	z-index: 5;
}

.enjoy__img {
	overflow: hidden;
	height: 644px;
}

.enjoy__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 40px;
}

.enjoy__title {
	font-size: 72px;
	font-weight: 600;
	line-height: 105%;
	color: #E1D4C9;
}

.title-dec {
	color: #B0907A;
	font-style: italic;
}

.enjoy__text {
	color: #E1D4C9;
	line-height: 24px
}

.enjoy__button {}

.enjoy__btn {
	display: inline-block;
	border-radius: 100px;
	background: #E1D4C9;
	padding: 20px 78px;
	color: #403F3D;
	text-align: center;
	font-weight: 600;
	line-height: 24px;
}

/*--------------Main-favourite----------------------*/

.main__favourite {
	padding: 0px 0px 100px 0px;
}

.favourite {}

.favourite__container {}

.favourite__title:not(:last-child) {
	margin: 0px 0px 40px 0px;
}

.title {
	color: #403F3D;
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	line-height: 75px;
	/* 125% */
}

.title-decoration {
	color: #B0907A;
	font-style: italic;
}

.favourite__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.favourite__arrow-left {}

.left-arrow {}

.favourite__slider {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.favourite__slider-image {
	padding: 0px 0px 20px 0px;
}

.favourite__slider-title:not(:last-child) {
	margin: 0px 0px 16px 0px;
}

.ttl {
	color: #403F3D;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	/* 125% */
}

.favourite__slider-description:not(:last-child) {
	margin: 0px 0px 16px 0px;
	width: 480px;
}

.descr {
	color: #403F3D;
	text-align: center;
	line-height: 24px;
	/* 150% */
}

.favourite__slider-price:not(:last-child) {
	margin: 0px 0px 40px 0px;
}

.price {
	color: #403F3D;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	/* 125% */
}

.favourite__slider-btns {}

.favourite__slider-btns-list {
	display: flex;
	gap: 12px;
}

.favourite__slider-btns-item {
	width: 40px;
	height: 4px;
	background: #C1B6AD;
	border-radius: 100px;
	cursor: pointer;
}

.slider-btns-item-1 {
	background: #665F55;
}

.favourite__slider-btns-link {}

.favourite__cslider-btns-link {}

.favourite__arrow-right {
	cursor: pointer;
}

.right-arrow {}

/*-------------------Main-about------------------------*/
.about {
	padding: 0px 0px 100px 0px;
}

.about__container {}

.about__title:not(:last-child) {
	margin: 0px 0px 40px 0px;
	text-align: left;
}

.title {}

.title-decoration {}

.about__gallery {}

.gallery {
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.gallery__item {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}

.gallery__item img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
	transition: 0.5s;
	cursor: pointer;
}

.gallery__item:hover.gallery__item img {
	transform: scale(1.1);
}

.gallery__item3 {}

.gallery__item-big {
	grid-row: span 2;
}

/*-----------------Main-download--------------*/
.mobileapp {
	padding: 0px 0px 100px 0px;
}

.mobileapp__container {}

.mobileapp__body {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
}

.mobileapp__content {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	gap: 40px;
	max-width: 630px;
}

.mobileapp__content-title {
	text-align: left;
}

.mobileapp__content-description {
	text-align: left;
}

.descr {}

.mobileapp__content-btns {
	display: flex;
	gap: 20px;
}

.content-btn {}

.content-btn-apple {}

.button {
	display: flex;
	gap: 8px;
	border-radius: 100px;
	border: 1px solid #665F55;
	width: 200px;
	padding: 12px 20px;
	align-items: center;
	transition: 0.5s;
}

.content-btn-apple:hover {
	background-color: #665F55;
}

.content-btn-apple:hover svg path {
	fill: #E1D4C9;
	transition: 0.5s;
}

.btn-icon {}

.btn-apple-txt {}

.btn-txt {}

.btn-title {
	color: #403F3D;
	text-align: left;
	font-size: 10px;
	font-weight: 600;
	transition: 0.5s;
	line-height: 14px;
	/* 140% */
}

.content-btn-apple:hover .btn-title {
	color: #E1D4C9;
}

.btn-subtitle {
	color: #403F3D;
	font-weight: 600;
	transition: 0.5s;
	line-height: 24px;
	/* 150% */
}

.content-btn-apple:hover .btn-subtitle {
	color: #E1D4C9;
}

.content-btn-google:hover {
	background-color: #665F55;
}

.content-btn-google:hover svg path {
	fill: #E1D4C9;
	transition: 0.5s;
}

.content-btn-google:hover .btn-title {
	color: #E1D4C9;
}

.content-btn-google:hover .btn-subtitle {
	color: #E1D4C9;
}

.btn-google-txt {}

.mobileapp__image {
	flex: 1 1 630px;
}

.mobileapp__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer {}

.footer__content {}

.footer__container {}

.footer__body {
	border-radius: 40px;
	padding: 100px;
	background: #665F55;
	display: flex;
	align-items: center;
	gap: 100px;
	margin: 0px 0px 40px 0px;
}

.footer__sip {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.footer__sip-title {
	text-align: left;
}

.title {}

.title-decoration {}

.footer__icons-list {
	display: flex;
	gap: 12px;
}

.footer__icons-item:hover {}

.footer__icons-link {
	transition: 0.5s;

}

.footer__icons-link {
}

.footer__icons-link:hover svg rect {
	fill: #E1D4C9;
	stroke: #E1D4C9;
}

.footer__icons-link:hover svg path {
	stroke: rgba(64, 63, 61, 1);
}

.footer__contacts-title {
	margin: 0px 0px 40px 0px;
	color: #E1D4C9;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	/* 125% */
}

.footer__contacts-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	position: relative;
}

.contacts-body-row {
	display: flex;
	gap: 8px;
	cursor: pointer;
}

.contacts-body-row:last-child {
	cursor: default;
}
.stretch {
	position: relative;
}

.stretch::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background-color: #E1D4C9;
	transition: all linear 0.5s;
}
.contacts-body-row:hover.stretch::after {
	width: 70%;
}

.contacts-body-icon {
	color: rgba(225, 212, 201, 1);

}

.contacts-body-text {
	color: #E1D4C9;
	font-weight: 600;
	line-height: 24px;
	/* 150% */
}
